n8n-workflow-alert-to-sms.json
{
  "name": "Alertmanager to SMS Gateway",
  "nodes": [
    {
      "parameters": {
        "path": "alert",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "responseContentType": "application/json"
      },
      "name": "Receive Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      config: {\n        receivers: [\n          { name: \"alert-ops\", mobile: \"0123456789,0987654321\" },\n          { name: \"alert-devops\", mobile: \"0888888888,0999999999\" }\n        ],\n        default_receiver: {\n          mobile: \"0111111111\"\n        }\n      }\n    }\n  }\n];"
      },
      "name": "Config JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [200, 500]
    },
    {
      "parameters": {
        "functionCode": "const alert = items[0].json;\nconst config = items[1].json.config;\n\nconst labels = alert.labels || {};\nconst annotations = alert.annotations || {};\nconst receivers = alert.receivers || [];\n\nconst alertstate = labels.alertstate || 'unknown';\nconst severity = labels.severity || '';\nconst cluster = labels.cluster || 'unknown-cluster';\nconst namespace = labels.namespace || 'unknown-namespace';\nconst job = labels.job || 'unknown-job';\nconst summary = annotations.summary || labels.alertname || 'No summary';\nconst receiverName = receivers[0]?.name || '';\n\nif ((alertstate === 'resolved') || (alertstate === 'firing' && severity === 'none')) {\n  return [{ json: { ignored: true } }];\n}\n\nconst message = `[${alertstate}] ${cluster}/${namespace} | ${job} | ${summary}`;\n\nlet mobile = config.default_receiver.mobile;\nfor (const r of config.receivers) {\n  if (r.name === receiverName) {\n    mobile = r.mobile;\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      receiverName,\n      message,\n      mobile\n    }\n  }\n];"
      },
      "name": "Parse Alert",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://your-other-webhook-host/webhook",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"receiver\": \"={{$json.receiverName}}\",\n  \"message\": \"={{$json.message}}\"\n}"
      },
      "name": "Send to Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "url": "http://10.32.46.15:8082/sms/sendNumber",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"message\": \"={{$json.message}}\",\n  \"receivers\": \"={{$json.mobile}}\"\n}"
      },
      "name": "Send Direct SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 400]
    }
  ],
  "connections": {
    "Receive Alert": {
      "main": [
        [
          {
            "node": "Parse Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config JSON": {
      "main": [
        [
          {
            "node": "Parse Alert",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Alert": {
      "main": [
        [
          {
            "node": "Send to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Direct SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
